@use '../../../../styles/base/' as *;
.education {
    position: relative;
  width: 100%;
  color: $color-client-1;
  font-size: $font-size-m;

  @media (min-width: 960px) {
    padding-bottom: 4rem;
    width: 70%;
    align-self: center;
  }

  @media (min-width: 1200px) {
    padding-bottom: 4rem;
    width: 60%;
    align-self: center;
  }

  div {
    width: 60vw;
    margin: 2rem 0 1rem;
    display: flex;
    align-items: center;
  }

  .info {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}