@use '../../../../styles/base/' as *;

.hero {
  position: relative;
  height: 100vh;
}

.intro_text {
  position: absolute;
  width: 80%;
  padding-left: $body-space;
    padding-right: $body-space;
  width: 100%;

  @media (min-width: 768px) {
    width: 60%;
  }
}
