@use '../../../../styles/base/' as *;

.hero {
  position: relative;
  height: 100vh;
}

.intro_text {
  position: absolute;
  padding-left: $body-space;
    padding-right: $body-space;
  width: 100%;
}
