@use '../../../../styles/base/' as *;
.aboutme {
  position: relative;
  width: 100%;
  color: $color-client-1;
  font-size: $font-size-m;

  @media (min-width: 960px) {
    margin: 2rem 0;
    padding-bottom: 4rem;
    width: 60%;
    align-self: center;
  }

  div {
    display: flex;
    align-items: center;
  
    img {
      margin-left: 1rem;
      max-height: 2rem;
    }
  }


  p {

  }
}
