.work {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;

    .top_section {
      max-width: 90vw;
      padding: 0 2rem;
  
      @media (min-width: 960px) {
        padding: 10rem 0 2rem 4rem;
      }
      }

  section {
    width: 100%;
    min-height: 100vh;
  }

  .components {
    position: relative;
    width: 100%;
    padding: 0 2rem;
    z-index: 10;
  
      @media (min-width: 960px) {        
        padding: 10rem 4rem 2rem;
      }

      h3,p {
        margin: 1rem 0;
        padding-left: 0;
        color: #888;

        @media (min-width: 960px) {        
          padding-left: 4rem;
        }
      }
  }

  .teaser {
    width: 100%;
    padding: 0;

    @media (min-width: 960px) {
      padding: 2rem 0 2rem 4rem;
    }
  }

  .buttons {
    margin: 4rem auto;
    width: 90%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;

    @media (min-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
