@use '../../styles/base/' as *;
$main-color: rgb(10, 10, 10);
$accent-color: rgb(207, 207, 207);

.wrapper {
  margin: 2rem auto 4rem;
  width: 100%;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-client-1;
  background-color: $color-client-black;
  border-radius: 10px;

  @media screen and (min-width: 960px) {
    padding: 2rem 4rem;
    width: 80%;
  }

  

  h3 {
    color: $color-client-4;
  }

  & > form {
    margin: 0 auto;
    padding: 2rem 4rem;
    height: 12.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-client-black;
    border-radius: 10px;

    @media screen and (min-width: 960px) {
      padding: 2rem 4rem;
      width: 60%;
    }

    & > input {
      width: 100%;
      outline: none;
      border: none;
      padding: 0.5rem 1rem;
      background-color: $color-client-alt;
      color: $accent-color;
    
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      &:focus {
        outline: 1px solid $color-client-5;
      }

      &::placeholder {
        padding-left: 0.3rem;
      }
    }

    & .btn {
      padding: 0.5rem 1rem;
      width: 100%;
      outline: none;
      border: none;    
      background-color: $color-client-1;
      color: $color-client-black;
     
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      transition: all 0.4s ease-in-out;

      &:hover {
        background: $accent-color;
        color: $main-color;
      }
    }
  }

  .list {
    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
    cursor: pointer;

    @media screen and (min-width: 960px) {
      width: 80%;
    }

    .item {
      padding: 0.5rem 1rem;
      background-color: $color-client-alt;
      color: $color-client-5;
      border-radius: 5px;
      transition: all 0.4s ease;

      &:hover {
        background-color: darken($color-client-alt, 10%);
        color:  $color-client-3;
      }
    }
  }

  .info_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    border-radius: 25px;
    background-color: $color-client-alt;

    .language {
      min-width: 35vw;
      padding: 0.5rem 1rem;
     
      color:  $color-client-black;
      background-color: $color-client-alt;
    }
  }
}
