@use '../../styles/base/' as *;
$body-width: calc(100vw - 10px);
$vw: calc($body-width / 100);
$body-space: calc($vw * 6);
$gutter: calc($vw * 2);
$column-size: calc($vw * 13);
$line-height: 1.4;
$transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);

.item {
  position: relative;
  padding: 3rem 0;
  min-height: 28.125rem;
  border-top: 1px solid $color-client-2;
  border-bottom: 1px solid $color-client-2;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 960px) {
    min-height: 15.125rem;
  }

  &:hover, &:active {
    background: $color-gradient-black;
    cursor: pointer;

    .image {
      transform: translateZ(-2px);
      filter: drop-shadow(3px 2px 2px $color-gradient-white);

      > img {
     
        border: 1px solid $color-alt-2;
        filter: brightness(90%);
      }
    }
  }

  @media screen and (min-width: 960px) {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .read_more {
    color: $color-client-white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    right: 0vw;
    z-index: 10;
    pointer-events: none;

    @media screen and (min-width: 960px) {
      right: 3vw;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    font-family: $font-primary;

    .title {
      margin-top: calc(($line-height - 1) / 2 * -1em);
      padding: 0 0.5rem;
      font-size: $font-size-m;
      --line-height: 1.4;
      line-height: $line-height;
      color: $color-client-1;      
      letter-spacing: 0.1rem;
       -webkit-text-stroke: 1px solid white;
    }

    .year {
      margin: 0.5rem;
      padding: 0 0.5rem;
      width: fit-content;
      font-size: $font-size-m;
      letter-spacing: 0.06em;
      color: $color-client-2;
      border: 1px solid $color-client-1;
    }

    .tag {
      height: 2rem;
      padding: 0 0.5rem;
      font-size: $font-size-base;
      line-height: 1.4;
      color: $color-client-3;
    }
  }
  .image {
    position: relative;
     width: 100%;
      height: 225px;
      margin-top: 20px;
      display: grid;
      place-content: center;
      font-size: 0;
      overflow: hidden;  
      background-color: 'black';
      filter: brightness(80%);
      overflow: hidden;
      perspective: 1000px;

      @media screen and (min-width: 960px) {
        height: 15.125rem;
      }

   > img {
    position: absolute;
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center top;
      border: 1px solid $color-client-2;
      transition: all 0.2s $transition-timing-function;

      @media screen and (min-width: 960px) {
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}
