
// colors

$color-bg-dark: #121212;
$color-bg-light: #efefef;
$color-bg-light-alt: #fff;
$color-text-primary: #f8f8f8;
$color-text-secondary: #121212;


// colors client
$color-client-1: #fff4e9;
$color-client-2: #1a1b1b;
$color-client-3: #3DBDA7;
$color-client-4: #4AA788;
$color-client-5: #e2725b;
$color-client-black: #080808;
$color-shadow: #31413E;
$color-bg: #1D1E22;


// color scrollbar
$color-scrollbar-bg: $color-shadow;

// color gradients
$color-gradient-alt: linear-gradient(120deg, #15332b7c, #10352c77, #173d3d46, #09332d63, #13161623);

$color-gradient-gold: linear-gradient(120deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);

$color-gradient-purple: linear-gradient(120deg, #574650, #E6D5DF, #6F5E68);

$color-gradient-black: linear-gradient(120deg, #121212, #000, #040404, #181818);

$color-gradient-white: linear-gradient(120deg, $color-client-1, #fff, $color-client-1, #f8f8fa, #dedede);

$color-client-1: #f8f7e5;
$color-client-2: #d8c3a5;
$color-client-3: #115466;
$color-client-4: #e98074;
$color-client-5: #3DBDA7;
$color-client-white: #ededed;
$color-client-black: #080808;
$color-client-alt: #15413c4d;
$color-shadow: #31413E;
$color-bg:  #1d1d1d;
$color-bg-alt: #1d1d1d;
$color-client-menuBtn: $color-bg-alt;
$color-bg: #1b1b1b;




